{% load status_badge %}

<h1>{{ job.title }}</h1>

<p>{{ job.description }}</p>

<p>City: {{ job.city.name }}</p>

<p>Category: {{ job.category.name }}</p>

<p>Budget: {{ job.budget }}</p>

<p>Status: {{ job.status }}</p>

<p>Created at: {{ job.created_at }}</p>

<a href="{% url 'jobs:edit' job.pk %}">Edit</a>
<a href="{% url 'jobs:delete' job.pk %}">Delete</a>


<a href="{% url 'applications:create' job.pk %}">
    Apply for this job
</a>


<hr>

<h2>Applications</h2>

<ul>
    {% for application in job.applications.all %}
        
        <li>
            <strong>{{ application.contractor.name }}</strong>
            <br>
            Message: {{ application.message }}
            <br>
            Quote: €{{ application.price_quote }}
            <br>
            Applied on: {{ application.created_at }}
            <br>
            Status: {{ application.status|status_badge }}
            <br><br>
            {% if application.status == "pending" %}
                <a href="{% url 'applications:accept' application.pk %}"
                   class="btn btn-success">
                   Accept
                </a>
            {% endif %}
            <hr>
        </li>
    {% empty %}
        <li>No applications yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'jobs:list' %}">Back</a>
